 .u-section-1 {
  background-image: url("images/crypto-background-main.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 581px;
}

.u-section-1 .u-line-1 {
  left: 991px;
  top: 29px;
  position: absolute;
  height: 37px;
  transform-origin: center bottom 0px;
  right: 147px;
  width: 2px;
}

.u-section-1 .u-text-1 {
  margin: 28px 918px 0 106px;
}

.u-section-1 .u-text-2 {
  margin: -30px 178px 0 875px;
}

.u-section-1 .u-text-3 {
  margin: -23px 18px 0 1030px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -25px 422px 0 643px;
}

.u-section-1 .u-text-5 {
  margin: -24px 306px 0 759px;
}

.u-section-1 .u-image-1 {
  width: 537px;
  height: 537px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -15px 0 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -450px 619px 0 106px;
}

.u-section-1 .u-text-7 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 619px 0 106px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #a115c3, #db545a);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 26px auto 0 106px;
}

.u-section-1 .u-image-2 {
  width: 136px;
  height: 27px;
  margin: 44px auto 0 106px;
}

.u-section-1 .u-image-3 {
  width: 160px;
  height: 43px;
  margin: -27px auto 0 260px;
}

.u-section-1 .u-image-4 {
  width: 96px;
  height: 17px;
  margin: -38px auto 60px 438px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2108px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 818px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 78px;
    margin-left: 775px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 848px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 322px;
    margin-left: 543px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 206px;
    margin-left: 659px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 13px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 13px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5911px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 604px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 633px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 628px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 212px;
    margin-left: 433px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 96px;
    margin-left: 549px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 424px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 453px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 448px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 122px;
    margin-left: 343px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 6px;
    margin-left: 459px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5020px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 224px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 253px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 248px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 22px;
    margin-left: 243px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 265px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -253px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 180px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 244px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 483px;
}

.u-section-2 .u-image-1 {
  width: 734px;
  height: 734px;
  margin: -193px auto 0 -25px;
}

.u-section-2 .u-image-2 {
  width: 493px;
  height: 493px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -651px 43px 0 auto;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -334px 624px 0 106px;
}

.u-section-2 .u-group-elements-1 {
  width: 365px;
  min-height: 35px;
  margin: 26px auto 60px 106px;
}

.u-section-2 .u-image-3 {
  width: 128px;
  height: 35px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-4 {
  width: 203px;
  height: 26px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -31px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 524px;
    margin-left: 6px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-left: 6px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1805px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 310px;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1721px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -457px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -257px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -181px;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 853px;
}

.u-section-3 .u-image-1 {
  width: 876px;
  height: 877px;
  margin: -139px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 201px;
  box-shadow: 2px 2px 8px 0 rgba(161,21,195,1);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 336px;
  margin: -822px auto 0 calc(((100% - 1140px) / 2) + 146px);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-group-2 {
  width: 83px;
  min-height: 85px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 12px 11px;
}

.u-section-3 .u-icon-1 {
  width: 47px;
  height: 47px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-1 {
  width: 104px;
  margin: 114px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-group-3 {
  width: 201px;
  box-shadow: 2px 2px 8px 0 rgba(161,21,195,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 336px;
  margin: -333px calc(((100% - 1140px) / 2) + 146px) 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-group-4 {
  width: 83px;
  min-height: 84px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 12px 11px;
}

.u-section-3 .u-icon-2 {
  width: 39px;
  height: 39px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-2 {
  width: 104px;
  margin: 114px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-group-5 {
  width: 222px;
  box-shadow: 12px 14px 40px 3px rgba(161,21,195,0.4);
  min-height: 364px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -405px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 8px;
}

.u-section-3 .u-group-6 {
  width: 83px;
  min-height: 83px;
  margin: 60px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 18px;
}

.u-section-3 .u-icon-3 {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 111px;
  height: 111px;
  margin: 18px auto 0 33px;
}

.u-section-3 .u-text-3 {
  width: 104px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-shape-1 {
  width: 119px;
  height: 119px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 391px calc(((100% - 1140px) / 2) + 451px) 0 auto;
}

.u-section-3 .u-group-7 {
  width: 619px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 188px;
  margin: -65px auto 7px calc(((100% - 1140px) / 2) + 15px);
}

.u-section-3 .u-container-layout-10 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 146px);
  }

  .u-section-3 .u-text-1 {
    margin-top: 121px;
  }

  .u-section-3 .u-group-3 {
    margin-right: calc(((100% - 940px) / 2) + 146px);
  }

  .u-section-3 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 451px);
  }

  .u-section-3 .u-group-7 {
    margin-left: calc(((100% - 940px) / 2) + 15px);
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 697px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 721px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -666px;
    margin-left: calc(((100% - 720px) / 2) + 146px);
  }

  .u-section-3 .u-text-1 {
    margin-top: 122px;
  }

  .u-section-3 .u-group-3 {
    margin-right: calc(((100% - 720px) / 2) + 146px);
  }

  .u-section-3 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2) + 451px);
  }

  .u-section-3 .u-group-7 {
    margin-left: calc(((100% - 720px) / 2) + 15px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 517px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 541px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -486px;
    margin-left: calc(((100% - 540px) / 2) + 146px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 123px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    margin-right: calc(((100% - 540px) / 2) + 146px);
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2) + 421px);
  }

  .u-section-3 .u-group-7 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 317px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 341px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -286px;
    margin-left: calc(((100% - 340px) / 2) + 139px);
  }

  .u-section-3 .u-group-3 {
    margin-right: calc(((100% - 340px) / 2) + 139px);
  }

  .u-section-3 .u-group-6 {
    margin-top: 57px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 21px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 42px;
    margin-left: 56px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: calc(((100% - 340px) / 2) + 221px);
  }

  .u-section-3 .u-group-7 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-4 {
  background-image: url("images/blue-grey-background.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1102px;
}

.u-section-4 .u-shape-1 {
  width: 119px;
  height: 119px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 216px auto 0 421px;
}

.u-section-4 .u-shape-2 {
  width: 619px;
  height: 247px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -291px 63px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 777px;
  min-height: 281px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 153px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 30px;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 30px;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(to right, #a115c3, #db545a);
  margin: 20px auto 0 30px;
}

.u-section-4 .u-icon-1 {
  font-size: 1.4376em;
}

.u-section-4 .u-image-1 {
  width: 341px;
  height: 341px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -332px -44px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 61px;
  height: 61px;
  margin: 73px auto 0 182px;
}

.u-section-4 .u-text-3 {
  margin: 30px 612px 60px 182px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-4 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 221px;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}